.register {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rInput {
  height: 30px;
  padding: 10px;
  border-radius: 5px;
}

.rButton {
  height: max-content;
  width: max-content;
  border: none;
  padding: 10px 20px;
  background-color: rgb(2, 32, 59);
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.rButton:disabled {
  background-color: rgb(2, 32, 59);
  cursor: not-allowed;
}
.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.lInput {
  height: 30px;
  padding: 10px;
}

.lButton {
  border: none;
  padding: 10px 20px;
  background-color: rgb(2, 32, 59);
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.lButton:disabled {
  background-color: rgb(2, 32, 59);
  cursor: not-allowed;
}
.gradient-background {
  background: linear-gradient(
    252deg,
    rgb(11, 19, 21),
    rgba(255, 255, 255, 0.041),
    #0fd2d2
  );
  background-size: 180% 180%;
  animation: gradient-animation 12s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
